/* Global styles
   ------------- */

// Normalize font size, set block defaults
input,
textarea,
select,
button,
label {
    display: block;
    font-family: $mono;
    font-size: $scale-normal;
    line-height: $base-line-height;
    margin-bottom: 1rem;

    &:focus {
        border-color: $blue;
        outline: 0;
    }
}


/* Individual element styles
   ------------------------- */

label {
    margin-bottom: 0.25rem;
}

[type="text"],
[type="email"],
[type="password"],
textarea {
    padding: 0.75rem 0.5rem 0.5rem;
    line-height: $base-line-height;
    background: $white;
    border: 2px solid $gray-light;
    width: 100%;
}

[type="checkbox"],
[type="radio"] {
    display: inline-block;
}

.form--radio + .form--radio,
.form--checkbox + .form--checkbox {
    // group similar elements
    margin-top: -0.5rem;
}

select {
    //ed. note: select boxes are weird.
    outline: none;
    background: $white;
    color: $black;
    border: 1px solid $gray-light;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    border-radius: $corner-radius;
    width: 100%;
}
