doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet', href='css/style.css')
    body
        main
            section.history
                article
                    .helper
                        | Saved Songs:
                    .saved
            section.current
                article
                    .helper
                        | Song Info:
                    .input
                    .helper
                        | Tweet Preview:
                    .tweet--result(contenteditable="true")
                    .tweet--length
                        span#tweet--chars 0
                        |  characters
                article
                    button.save Save
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='js/main.js')
