doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet', href='css/main.css')
    body
        main#app

            //- section.history
            //-     article
            //-         .helper
            //-             | Saved Songs:
            //-         .saved
            //-             .saved--list
            //-             .saved--add + Add a song
            //- section.current
            //-     article
            //-         .helper
            //-         .form
        script(src='http://fb.me/react-0.12.2.js')
        script(src='http://fb.me/JSXTransformer-0.12.2.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(type='text/jsx' src='js/main.js')
