/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    @include container;
    margin: 4rem;
}

.input--group {
    margin-bottom: 2rem;
}

.input--tweet {
    background: lighten($yellow, 45%);
    padding: 1rem;
    border: 2px solid lighten($yellow, 35%);
    margin: 0.5rem 0;

    &:focus {
        border-color: $blue;
        outline: 0;
    }
}

.tweet--field {
    border-bottom: 2px solid $black;
}

.tweet--status {
    text-align: right;
}

.tweet--chars {
    display: inline-block;
}

.status--good {
    color: $green;
}

.status--bad {
    color: $red;
}

.input--submit,
.input--reset {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}

.input--reset {
    border: 2px solid $gray-light;
    color: $gray-light;

    &:hover {
        border-color: $gray-lighter;
        color: $gray-lighter;
        cursor: pointer;
    }
}

.input--submit {
    color: $blue;
    border: 2px solid $blue;
    margin-bottom: 2rem;

    &.success {
        color: $green;
        border-color: $green;

        &.zeroclipboard-is-hover {
            border-color: lighten($green, 10%);
            color: lighten($green, 10%);
        }
    }

    &:hover {
        border-color: lighten($blue, 10%);
        color: lighten($blue, 10%);
        cursor: pointer;
    }

    &.zeroclipboard-is-hover {
        border-color: lighten($blue, 10%);
        color: lighten($blue, 10%);
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}

.result {
    display: none;
}

.result--table {
    width: 100%;
    table-layout:fixed;

    th {
        text-align: left;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.25rem;
        border: 2px solid $gray-lighter;
    }
}

.greeting {

    &.hidden {
        display: none;
    }

    margin-bottom: 3rem;
}

.greeting--hide {
    color: $red;
}