main {
    margin: 2rem 0 0 5rem;
}

section {
    width: 35rem;
    padding: 0 1rem;
    display: inline-block;
    vertical-align: top;
}

article {
    margin-bottom: 3rem;
}

.helper {
    margin: 1rem 0;
}
